.btn-dark-blue {
    background-color: #003366;
    border-color: #003366;
    color: #fff;
}

.btn-dark-blue:hover {
    color: #fff;
    background-color: #23272b;
    border-color: #1d2124;
  }
  
  .btn-dark-blue:focus, .btn-dark-blue.focus {
    color: #fff;
    background-color: #23272b;
    border-color: #1d2124;
    box-shadow: 0 0 0 0.2rem rgba(82, 88, 93, 0.5);
  }