<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <?php echo(APP_NOMBRE); ?>
    </title>
    <link rel="stylesheet" href="public/libs/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="public/css/custom.css">
    <link rel="icon" type="image/png" href="public/img/icon_64.png" sizes="64x64">
    <meta http-equiv=refresh content="3; index.php">
</head>

<body>
    <div class="container">
        <div class="card mt-4 bg-success">

            <div class="row p-4">
                <div class="col-lg-12">
                    <h1 class="text-white text-center">Registro Correcto</h1>
                    <img src="public/img/calculator_256.png" class="img-fluid mx-auto d-block" alt="logo">
                    <h4 class="text-white text-center">Redirigiendo al login</h4>
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>

</body>

</html>